<!DOCTYPE html>
<html>
  <head>
    <title>Expense</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <header>
        <div class="header-left"> 
          <%= link_to "詳細ページ","/index", id: "link" %>
          <%= link_to "Top", root_path, id: "link" %>
        </div>
        <div class="header-right">
          <%= link_to "ユーザー一覧", "/user_progates/index", id: "link"%>
        </div>
    
        <div class="header-right">
          <%= link_to "新規登録", "/signup", id: "link"%>
        </div>
     
    </header>
    <%= yield %>
  </body>
</html>
