<!DOCTYPE html>
<html>
  <head>
    <title>Expense</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <li>
          <% unless @current_user %>
            <%= link_to("Expense","/") %>
          <% end %>
        </li>
        <li>
          <%= link_to(@current_user.name, "/user_progates/#{@current_user.id}") %>
        </li>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to "支出を記録する", "/posts/new" %>
          </li>
          <li>
            <%= link_to "支出一覧","/index" %>
          </li>
          <li>
            <%= link_to "今月の合計","/amount" %>
          </li>
          <li>
            <%= link_to "ログアウト", "/logout", {method: :post} %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", "/signup" %>
          </li>
          <li>
            <%= link_to "ログイン", "/login" %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
